<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
      type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
      <section name="UEVR.MainWindowSettings"
        type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
        allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <UEVR.MainWindowSettings>
      <setting name="OpenXRRadio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NullifyVRPluginsCheckbox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenVRRadio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocusGameOnInjection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreFutureVDWarnings" serializeAs="String">
        <value>True</value>
      </setting>
    </UEVR.MainWindowSettings>
  </userSettings>
</configuration>
